.instagram-feed{
    padding: 100px 0;
    .instafeed-box{
        @media screen and (min-width: 768px) and (max-width: 991px){
            margin-top: 20px;
        }
        @media screen and (max-width: 768px){
            img{
                width: 100%;
                margin-top: 20px;
            }
        }
    }
    .btn-section{
        margin-top: 50px;
        a{
            padding: 15px 30px;
            background: $title-color;
            color: #fff;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            font-size: 18px;
            font-weight: $medium;
            line-height: 20px; 
        }
    }
}